<a href="https://colab.research.google.com/github/Psycod01/aipython/blob/main/24.01.05_%EC%88%98%EC%97%85_%EC%A4%91_%EC%9E%91%EC%84%B1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
data = "John,30,Engineer\nAlice,25,Designer\nBob,22,Artist"
lines = data.split("\n")
for line in lines:
  fields = line.split(",")
print("Name:", fields[0], "Age:", fields[1], "Occupation:", fields[2])

Name: Bob Age: 22 Occupation: Artist

In [2]:
data = "John,30,Engineer\nAlice,25,Designer\nBob,22,Artist"
lines = data.split("\n")

for line in lines:
  fields = line.split(",")
  print("Name:", fields[0], "Age:", fields[1], "Occupation:", fields[2])

Name: John Age: 30 Occupation: Engineer
Name: Alice Age: 25 Occupation: Designer
Name: Bob Age: 22 Occupation: Artist

In [3]:
words = ['Hello', 'world', 'this', 'is', 'a', 'test']
sentence = ' '.join(words)
print(sentence)

Hello world this is a test

In [4]:
a = input()
a_1 = a.split(' ')
print(a_1) #print(객체.split(''))

b='-'.join(a_1)
print(b)

Geeks for Geeks
['Geeks', 'for', 'Geeks']
Geeks-for-Geeks

In [5]:
squares = [x**2 for x in range(5) if x%2 == 0]
print(squares)

[0, 4, 16]

In [6]:
#1부터 20까지 3의 배수만 제곱하기
squares = [x**2 for x in range(1,21) if x%3 ==0]
print(squares)

squares2 = [x**2 for x in range(3,21,3)]
print(squares2)

[9, 36, 81, 144, 225, 324]
[9, 36, 81, 144, 225, 324]

In [7]:
a =[1,2,3,4,5]
sq = [i**2 for i in a]
print(sq)

[1, 4, 9, 16, 25]

In [8]:
inp=['Seoul','New York', 'London', 'Shanghai', 'Paris', 'Tokyo']
scity=[i for i in inp if i[0]=='S']  #scity=[a for i in inp if i[0]=='S'] 결과값 [[0,1,2,3,4],[0,1,2,3,4]]
print(scity)

['Seoul', 'Shanghai']

In [9]:
fruits = ['apple', 'banana', 'cherry']
for index, fruit in enumerate(fruits):
  print(index, fruit)

0 apple
1 banana
2 cherry

In [12]:
fruits = ['a','b','c']
for index, fruit in  enumerate(fruits) :
  print(f'fruit{index} name is {fruit}')

#for로도 작성해보기
#for a in range(len(fruits))

fruit0 name is a
fruit1 name is b
fruit2 name is c

In [11]:
names = ['John', 'Jane', 'Doe']
ages = [25, 30, 35]
a = zip(names, ages)
for name, age in a:
  print(f"{name} is {age} years old.")
b=dict(zip(names,ages))
#b=dict(a(names,ages))
print(b)
print(a)

John is 25 years old.
Jane is 30 years old.
Doe is 35 years old.
{'John': 25, 'Jane': 30, 'Doe': 35}
<zip object at 0x7ed046419a00>

In [13]:
# 직접해보기
list1 = [1, 2, 3]
list2 = [4, 5, 6]
list3 = [7, 8, 9]

zip(list1,list2,list3)

In [14]:
name = [ "M", "N", "S", "A" ]
roll_no = [ 4, 1, 3, 2 ]
a=[]
for n, r in zip(name,roll_no):
  a.append((n,r))
print(a)

names = ['M', 'R', 'C']
ages = [24, 50, 18]

[('M', 4), ('N', 1), ('S', 3), ('A', 2)]

In [15]:
def add(x,y):
  return x+y

print (add(7,8))

ssum= lambda a,b: a+b
print(ssum(5,4))

15
9