<a href="https://colab.research.google.com/github/Psycod01/aipython/blob/main/24.01.03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
HIGH_SCORE = 95

def main():
  test1 = int(input('Enter the score for test 1: '))
  test2 = int(input('Enter the score for test 2: '))
  test3 = int(input('Enter the score for test 3: '))

  average = (test1 + test2 + test3) / 3
  print('The average score is', average)

  if average >= HIGH-SCORE
    print'Congratulations!')
    print'That is great average!')

In [5]:
BASE_HOURS = 40 # Base hours per week
OT_MULTIPLIER = 1.5 # Overtime multiplier
def main(): # 근무시간과 시간당 급여를 입력받아 각 변수에 할당한다.
  hours_worked = float(input('Enter the number of hours worked: '))
  pay_rate = float(input('Enter the hourly pay rate: '))

  if hours_worked > BASE_HOURS:
    calc_pay_with_OT(hours_worked, pay_rate)
  else:
    calc_regular_pay(hours_worked, pay_rate)


def calc_pay_with_OT(hours, rate): # 초과 근무시간을 계산한다.
  overtime_hours = hours - BASE_HOURS
  overtime_pay = overtime_hours * rate * OT_MULTIPLIER
  gross_pay = BASE_HOURS * rate + overtime_pay

  print('The gross pay is $', format(gross_pay, ',.2f'), sep='')


def calc_regular_pay(hours, rate): # 총 급여를 계산한다.
  gross_pay = hours * rate
 # 총 급여를 출력한다.
  print('The gross pay is $', format(gross_pay, ',.2f'), sep='')

main()

Enter the number of hours worked: 50
Enter the hourly pay rate: 20
The gross pay is $1,100.00

In [8]:
#5-15
rows = int(input('How many rows? '))
cols = int(input('How many columns? '))

for i in range(rows) :
  for i in range(cols):
    print('*',end='')
  print()

How many rows? 5
How many columns? 20
********************
********************
********************
********************
********************

In [28]:
#역삼각형으로 * 찍기
BASE_SIZE = 8
a = BASE_SIZE
for r in range(a,0,-1):
  for i in range(r):
    print('*', end='')
  print()

********
*******
******
*****
****
***
**
*

In [29]:
BASE_SIZE = 8
for r in range(BASE_SIZE):
  for c in range(BASE_SIZE-r):
    print('*', end='')
  print()

********
*******
******
*****
****
***
**
*

In [20]:
  for i in range(8,0,-1):
    print(i)

8
7
6
5
4
3
2
1